<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyMap</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
</head>

<body>
    <!-- family list -->
    <script type="text/x-template" id="item-template">
        <li v-bind:class="'sesu_'+item.sesu" v-bind:id="'node_' + item.no">
            <!-- 부모정보 -->
            <div class="tree-node"  :class="{notChildren: !item.children }">
                <div class="inner">
                    <div class="member-info" v-bind:class="'node_' + item.no">
                        <div class="name" @click="toggle(item)" :class="{active: isShowLifeTime, notParent: !item.parent, rootParent: item.root == 1}">
                            <div class="sex">
                                <span v-if="item.sex == 0">&#23376;</span>
                                <span v-else>&#22899;</span>
                            </div>
                            {{ item.no }}
                        </div>
                        <div class="life-time">
                            <ul class="life-wrap" v-show="isShowLifeTime">
                                <li class="list">
                                    <div>부모: {{item.parent}}</div>
                                </li>
                                <li class="list">
                                    <div>세대순서: {{item.seq}}</div>
                                </li>
                                <li class="list">
                                    <div>자기번호: {{item.no}}</div>
                                </li>
                                <li class="list" v-for="lifeTime in item.lifeTime">
                                    <div>{{lifeTime}}</div>
                                </li>
                                <li class="list">
                                    <div>{{ item.pa}}권 {{ item.page }}페이지 참조</div>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn addPerson" v-show="isShowLifeTime" @click="selectedChild(item)">
                            <i class="material-icons">
                                person_add
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 자녀리스트 -->
            <ul class="tree-child">
                <tree-item
                class="child"
                v-for="(child, index) in item.children"
                :key="index"
                :item="child"
                :class="{first : index == 0, last: index == item.children.length - 1 }"
                >
                </tree-item>
            </ul>
        </li>
    </script>



    <!-- the family root element -->
    <div id="familyWrap">

        <div class="connect_area">
            <div class="menu">
                <p class="close_connect">닫기</p>
            </div>
            <div class="value_area">
                <p>
                    <span class="selected_sesu"></span>
                    <span>세수</span>
                </p>
                <h3 class="selected_name">회원이름</h3>
            </div>
            <div class="bottom_area">
                <button @click="connect()">연결</button>
                <button @click="disConnect()">해제</button>
            </div>
        </div>

        <div class="header">
            <div class="inner">
                <h3 class="title">PROJECT:족보</h3>
                <div class="filterWrap">
                    <!-- <div class="group">
                        <div class="label">이름</div>
                        <input type="text" size="10">
                    </div>
                    <div class="group">
                        <div class="label">책상세</div>
                        <input type="text" size="5">권
                        <input type="text" size="5">페이지
                    </div> -->
                    <div class="group">
                        <div class="label">세대조회</div>
                        <input type="text" size="5" v-model="sesuStart" id="sesuStart">~
                        <input type="text" size="5" v-model="sesuEnd" id="sesuEnd">
                    </div>
                    <!-- <button type="button" class="btn" @click="getFamilyMap()">검색</button> -->
                    <button type="button" class="btn" @click="test()">검색</button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="group treeWrap">
                <div class="tree-map">
                    <div class="tree-child first">
                        <ul class="tree-child">
                            <li class="child" v-for="family in familyMap">
                                <ul class="tree-child">
                                    <tree-item class="member" :item="family"></tree-item>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <ul class="not-child">
                        <li class="tree-node" v-for="member in notParentMap">
                            <ul style="position: absolute;" v-bind:class="'notP_' + member.sesu">
                                <li class="member" v-for="person in member.member">
                                    <div class="tree-node" :class="{notChildren: !person.children }">
                                        <div class="inner">
                                            <div class="member-info" :class="'notPnode_' + person.no">
                                                <div class="name" :class="{ notParent: !person.parent, rootParent: person.root == 1}"
                                                    @click="selectNoParent(person)" v-bind:id="'noParent_' + person.no">
                                                    <div class="sex">
                                                        <span v-if="person.sex == 0">&#23376;</span>
                                                        <span v-else>&#22899;</span>
                                                    </div>
                                                    {{ person.no }}
                                                </div>
                                                <div class="life-time" :class="'lifeTime_' + person.no" style="display:none;">
                                                    <ul class="life-wrap">
                                                        <li class="list">
                                                            <div>부모: {{person.parent}}</div>
                                                        </li>
                                                        <li class="list">
                                                            <div>세대순서: {{person.seq}}</div>
                                                        </li>
                                                        <li class="list">
                                                            <div>자기번호: {{person.no}}</div>
                                                        </li>
                                                        <li class="list" v-for="lifeTime in person.lifeTime">
                                                            <div>{{lifeTime}}</div>
                                                        </li>
                                                        <li class="list">
                                                            <div>{{ person.pa}}권 {{ person.page }}페이지 참조</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn addPerson" :class="'lifeTime_' + person.no"
                                                    @click="selectedChild(person)" style="display:none;">
                                                    <i class="material-icons">
                                                        person_add
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </u>
                        </li>
                    </ul>

                </div>
                <div class="tree-sesu">
                    <ul>
                        <li class="list" v-for="sesu in familSesu">
                            <div class="inner">
                                <div>{{sesu}}세대</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 족보 디테일 영역-->
            <div class="group previewWrap">
                <!-- <div class="sec joinMember" v-show="isShowJoinMember">
                    <div class="head">
                        <span class="title">부모-자녀 연결</span>
                        <button type="button" class="btn join" @click="joinChild" v-if="joinChildrenInfo.length >= 1">연결</button>
                    </div>
                    <div class="content">
                        <div class="fild">
                            <div class="label">부모 이름 :</div>
                            <input type="text" size="10" :value="joinParentInfo.name" disabled>
                        </div>
                        <div class="fild" v-for="(child,index) in joinChildrenInfo">
                            <div class="label">추가자녀{{index + 1}} 이름 :</div>
                            <input type="text" size="10" disabled :value="child.name">
                            <button type="button" class="btn delete" @click="deleteChild(index)">-</button>
                        </div>
                    </div>
                </div> -->
                <div class="sec">
                    <div class="head">
                        <h3 class="title">족보 페이지</h3>
                    </div>
                    <div class="content">
                        <!-- <img class="width-100" src="http://placehold.it/500x800" /> -->
                        <img class="width-100" :src="jogbo_img" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    Vue.use(Vuex)
    Vue.config.silent = true

    const store = new Vuex.Store({
        state: {
            selectedPerson: {
                name: ''
            },
            connect_state: 0,
            parent: [],
            select_children: [],
            jogbo_img: ""

        },
        mutations: {
            personSelect(state, person) {
                state.selectedPerson = person;
            }
        }
    })


    // define the tree-item component
    Vue.component('tree-item', {
        template: '#item-template',
        props: {
            item: Object
        },
        data: function () {
            return {
                isShowLifeTime: false,
                jogbo_img: ""
            }
        },
        methods: {
            // 일생(?) 컨텐츠 토글
            toggle: function (item) {
                this.isShowLifeTime = this.isShowLifeTime ? false : true;
                this.listingElement(item.no, item.sesu);

                let img_path = "http://jogboapi.appmowa.com/source/" + item.pa + item.page + ".png";
                console.log(img_path);
                this.jogbo_img = img_path;
                $(".connect_area").hide();
            },

            listingElement(no, sesu) {

                $(document).ready(function () {

                    // console.log(sesu);
                    // let lastLfet = $('.sesu_' + sesu).last().offset().left;
                    // let lastWidth = $('.sesu_' + sesu).last().outerWidth();
                    // let extentionWidth = parseInt(lastLfet) + parseInt(lastWidth);

                    // $(".notP_" + sesu).css("left", extentionWidth + "px");

                    let sesuStart = $("#sesuStart").val();
                    let sesuEnd = $("#sesuEnd").val();
                    let extentionWidth = ""

                    for (let i = sesuStart; i <= sesuEnd; i++) {
                        let chk_element = $(".sesu_" + i).length;
                        if (chk_element == 0) {
                            extentionWidth = 100;
                        } else {

                            let lastLfet = $('.sesu_' + i).last().offset().left;
                            let lastWidth = $('.sesu_' + i).last().outerWidth();
                            extentionWidth = parseInt(lastLfet) + parseInt(lastWidth);

                            // let lastFlag = $('.sesu_' + i).last().attr("id");
                            // let thisWidth = "";

                            // if (lastFlag == "node_" + no) {
                            //     console.log("good");
                            //     thisWidth = $('.sesu_' + i).last().outerWidth() - 67;
                            // } else {
                            //     console.log("bad");
                            //     thisWidth = 0;
                            // }

                            // var obj_left = $('.sesu_' + i).last().offset().left + 67;
                            // var obj = thisWidth + obj_left;
                        }

                        $(".notP_" + i).css("left", extentionWidth + "px");
                        // $(".notP_" + i).css("left", obj + "px");
                    }
                });

            },

            // 자녀컴포넌트에서 부모컴포넌트로 클릭한 부모정보 전달
            selectedChild: function (person) {

                store.state.connect_state = 1;
                store.state.parent = person;

                $(document).ready(function () {
                    let targetNode = $(".node_" + person.no);
                    let showLeft = targetNode.offset().left;
                    let showTop = targetNode.offset().top;

                    $(".connect_area").css("top", showTop).css("left", showLeft + 48);
                    $(".selected_name").text(person.name);
                    $(".selected_sesu").text(person.sesu);
                    $(".connect_area").show();
                });
            }

        }

    })

    // boot up the family
    var family = new Vue({
        el: '#familyWrap',
        data: () => {
            return {
                allFamilyMember: [],

                originData: [
                    // 0: [
                    {
                        no: 1, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: null, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 0, //세수
                        seq: 1, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강도윤", //이름
                        lifeTime: ["나는 어디서 태어났으며", "나는 무슨일을 하였으며", "나는 어떻게 생을 마감하였다"] //일생
                    },
                    {
                        no: 2, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: null, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 0, //세수
                        seq: 2, //형제순서
                        sex: 1, //성별 (0:남자, 1:여자)
                        name: "강지안"
                    },
                    {
                        no: 3, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: null, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 0, //세수
                        seq: 3, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강서준"
                    },
                    {
                        no: 4, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: null, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 0, //세수
                        seq: 4, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강하준"
                    },
                    // ],
                    // 1: [
                    {
                        no: 5, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: 1, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 1, //세수
                        seq: 1, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강도윤", //이름
                        lifeTime: ["나는 어디서 태어났으며", "나는 무슨일을 하였으며", "나는 어떻게 생을 마감하였다"] //일생
                    },
                    {
                        no: 6, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: null, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 1, //세수
                        seq: 2, //형제순서
                        sex: 1, //성별 (0:남자, 1:여자)
                        name: "강지안"
                    },
                    {
                        no: 7, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: 1, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 1, //세수
                        seq: 3, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강서준"
                    },
                    {
                        no: 8, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: null, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 1, //세수
                        seq: 4, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강하준"
                    },
                    // ],
                    // 2: [
                    {
                        no: 9, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: 7, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 2, //세수
                        seq: 1, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강도윤", //이름
                        lifeTime: ["나는 어디서 태어났으며", "나는 무슨일을 하였으며", "나는 어떻게 생을 마감하였다"] //일생
                    },
                    {
                        no: 10, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: 7, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 2, //세수
                        seq: 2, //형제순서
                        sex: 1, //성별 (0:남자, 1:여자)
                        name: "강지안"
                    },
                    {
                        no: 11, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: 8, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 2, //세수
                        seq: 3, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강서준"
                    },
                    {
                        no: 12, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        parent: 7, //부모번호
                        pa: 1, //권수
                        page: 1, //페이지
                        sesu: 2, //세수
                        seq: 4, //형제순서
                        sex: 0, //성별 (0:남자, 1:여자)
                        name: "강하준"
                    }
                ],

                familyMap: [],
                familSesu: [],
                notParentMap: [],
                notParentMember: [],
                sesuStart: "",
                sesuEnd: "",
                joinChildrenInfo: [], //연결할 자녀의 정보
                showConnect: false,
                isShowLifeTimeChild: false
            }
        },
        created: function () {

        },
        computed: {
            joinParentInfo: function () {
                if (store.state.selectedPerson) {
                    return store.state.selectedPerson
                } else {
                    return {}
                }
            },
            isShowJoinMember: function () {
                return this.joinParentInfo.name && this.joinParentInfo.name.length != 0
            }
        },
        methods: {


            test() {

                let tempData = [];

                this.originData.forEach(family => {

                    this.test2(family);
                });

                console.log(this.originData);
                this.familyMap = this.originData;

            },

            test2(array) {

                let chk = this.originData.filter(obj => {

                    return obj.parent == array.no;

                });

                let childNo = this.originData.findIndex(obj => obj.no == array.no);

                if (chk.length == 0 && childNo != -1) {
                    // 자녀가 없으면
                    return;
                } else {
                    // 자녀가 있으면 재귀
                    array.children = [];
                    chk.forEach(val => {

                        array.children.push(val);
                        let childNo = this.originData.findIndex(obj => obj.no == val.no);
                        this.originData.splice(childNo, 1);
                        this.test2(val);

                    });

                }

            },



            connect() {

                let url = "http://jogboapi.appmowa.com/jogbo_parent_set.php";

                let length = store.state.select_children.length;
                let count = 1;

                if (length == 0) {

                    alert("연결한 자손을 선택해 주세요!");
                    return;

                }

                store.state.select_children.forEach(child => {

                    let form = new FormData()
                    form.append('no', child);
                    form.append('parent', store.state.parent.no);
                    form.append('chk', "1");

                    axios.post(url, form);

                    if (count == length) {

                        store.state.parent = [];
                        store.state.select_children = [];
                        store.state.connect_state = 0;
                        this.getFamily2();

                    }

                    count++;

                })

            },

            disConnect() {

                // alert("준비중입니다.");

                let url = "http://jogboapi.appmowa.com/jogbo_parent_set.php";
                let chkChild;
                let length;
                let child;

                console.log(store.state.parent.parent);

                if (store.state.parent.parent == null) {
                    chkChild = this.familyMap.filter(val => {
                        return val.no == store.state.parent.no;
                    });

                    length = chkChild[0]['children'].length;
                    child = chkChild[0]['children'];

                } else {

                    let parent_no = store.state.parent.parent;
                    chkChild = this.familyMap.filter(val => {
                        return val.no == parent_no;
                    });

                    console.log(this.originData);
                    console.log(chkChild[0]['children'][0]['children']);

                    length = chkChild[0]['children'][0]['children'].length;
                    child = chkChild[0]['children'][0]['children'];

                }


                let count = 1;

                child.forEach(child => {

                    let form = new FormData()
                    form.append('no', child.no);
                    form.append('chk', "1");

                    console.log(child.no);
                    console.log(count);
                    console.log(length);

                    axios.post(url, form);

                    if (count == length) {

                        store.state.parent = [];
                        this.getFamily2();

                    }

                    count++;

                });

            },

            selectedChild(person) {

                store.state.connect_state = 1;
                store.state.parent = person;

                $(document).ready(function () {
                    let targetNode = $(".notPnode_" + person.no);
                    let showLeft = targetNode.offset().left;
                    let showTop = targetNode.offset().top;

                    $(".connect_area").css("top", showTop).css("left", showLeft + 48);
                    $(".selected_name").text(person.name);
                    $(".selected_sesu").text(person.sesu);
                    $(".connect_area").show();
                });

            },

            selectNoParent(person) {

                if (store.state.connect_state == 0) {

                    $(".lifeTime_" + person.no).toggle();

                }


                if (store.state.connect_state == 1) {

                    let parentSesu = store.state.parent.sesu;
                    let childSesu = person.sesu;

                    if (childSesu != parseInt(parentSesu) + 1) {

                        alert("부모 - 자손 연결은 한 세대간만 연결 가능합니다.");
                        return;

                    }

                    let chk_array = store.state.select_children.indexOf(person.no);
                    console.log(chk_array);

                    if (chk_array == -1) {
                        store.state.select_children.push(person.no);
                        $("#noParent_" + person.no).css("border", "2px solid black");
                    } else {
                        store.state.select_children.splice(chk_array, 1);
                        $("#noParent_" + person.no).css("border", "0px solid");
                    }

                }

            },


            getFamily3: function () {

                this.familyMap = [{
                        no: "1-1",
                        parent: 99999999,
                        pa: "1권",
                        page: 212,
                        sesu: 1,
                        seq: 2,
                        sex: 0,
                        name: "테스트",
                        children: [{
                            no: "2-1",
                            parent: 1232,
                            pa: "1권",
                            page: 212,
                            sesu: 3,
                            seq: 2,
                            sex: 0,
                            name: "테스트"
                        }]
                    },
                    {
                        no: "1-2",
                        parent: null,
                        pa: "1권",
                        page: 212,
                        sesu: 1,
                        seq: 2,
                        sex: 0,
                        name: "테스트",
                        children: [{
                            no: "2-2",
                            parent: 1232,
                            pa: "1권",
                            page: 212,
                            sesu: 3,
                            seq: 2,
                            sex: 0,
                            name: "테스트"
                        }]
                    }
                ]


                for (let i = 1; i <= 3; i++) {
                    this.familSesu.push(i);
                    this.notParentMap.push({
                        sesu: i,
                        member: []
                    });
                }

                console.log(this.notParentMap);


                let notParentMapOrigin = [{
                    no: "2-3",
                    parent: null,
                    pa: "1권",
                    page: 212,
                    sesu: 2,
                    seq: 2,
                    sex: 0,
                    name: "테스트",
                }]

                notParentMapOrigin.forEach(person => {

                    let sesu = person.sesu;
                    console.log(sesu);

                    this.notParentMap[person.sesu - 1]['member'].push({
                        no: person.no,
                        parent: null,
                        pa: person.pa,
                        page: person.page,
                        sesu: person.sesu,
                        seq: person.seq,
                        sex: 0,
                        name: "부모없음",
                        children: [{
                            no: "3-1",
                            parent: person.no,
                            pa: "11",
                            page: "11",
                            sesu: "11",
                            seq: "1",
                            sex: 0,
                            name: "부모없음",
                        }]
                    });

                })

            },


            getFamily2: function () {

                if (!this.sesuStart || !this.sesuEnd) {
                    alert("검색조건을 입력하세요.");
                    return;
                }

                this.originData = [];
                this.familyMap = [];
                this.notParentMember = [];
                this.notParentMap = [];
                this.familSesu = [];
                $(".connect_area").hide();


                let url = "http://jogboapi.appmowa.com/jogbo_join_list.php";
                let tempFamilyData = [];

                for (let i = this.sesuStart; i <= this.sesuEnd; i++) {

                    let form = new FormData()
                    form.append('sesu', i);
                    form.append('limit', 10);

                    axios.post(url, form).then(res => {

                        let familyData = res.data;
                        if (res.data) {
                            familyData.forEach(data => {

                                let name;
                                if (!data.option) {
                                    name = "미등록";
                                } else {

                                    if (data.option[0]['jogbo_fieldType'] == "名") {

                                        name = data.option[0]['jogbo_field'];

                                    } else {

                                        name = "미등록";

                                    }

                                }


                                let parent = data.parent == 0 ? null : data.parent;
                                let sex = data.sex == "남" ? 0 : 1;

                                this.originData.push({

                                    no: data.no,
                                    parent: parent,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: name

                                });

                            });

                        }

                    });

                }

                setTimeout(() => {
                    this.getFamilyMap();
                }, 1000);

            },

            getFamilyMap: function () {
                let loopcount = 0;

                while (this.originData.length > 0) {
                    this.originData.forEach(person => {
                        // 가족 멤버 카운트가 모든 사람의 수와 같아 질 때 까지 루프
                        // 단 모든 사람은 한가족에 속해야 함
                        if (person.sesu >= this.sesuStart && person.sesu <= this.sesuEnd) {
                            this.addFamily(this.familyMap, person)
                        }

                    });

                    //무한루프 방지를 위해 임시 카운트가 100을 초과하면 강제종료
                    loopcount++
                    if (loopcount > 300) break
                }

                //형제순서대로 멤버 정렬
                this.sortChild()

                //화면 sesu 표시
                for (let i = this.sesuStart; i <= this.sesuEnd; i++) {
                    this.familSesu.push(i);
                    this.notParentMap.push({
                        sesu: i,
                        member: []
                    });
                }

                this.notParentMap.forEach(person => {
                    this.notParentMember.forEach(member => {
                        if (person.sesu == member.sesu) {

                            person.member.push(member)
                        }
                    })
                })

                // console.log(2);

                this.listingElement(this.sesuStart, this.sesuEnd);

            },

            listingElement(start, end) {

                $(document).ready(function () {
                    for (let i = start; i <= end; i++) {
                        let chk_element = $(".sesu_" + i).length;
                        if (chk_element == 0) {
                            var obj = 100;
                        } else {
                            var obj = $('.sesu_' + i).last().offset().left + 67;
                        }
                        $(".notP_" + i).css("left", obj + "px");
                    }
                });

            },

            addFamily(family, person) {

                // console.log(person);

                // 조회하고자하는 시작세대와 세수가 일치하면 최초 부모
                if (this.sesuStart == person.sesu) {
                    person.root = 1;
                    this.familyMap.push(person)
                    this.deletePerson(person)

                } else {

                    family.forEach(familyMember => {

                        // 부모가 없는 자녀이면
                        if (person.parent == null) {

                            if (person.no != 85) {

                                // let chk1 = family.filter(val => {
                                //     return val.parent == person.no;
                                // });

                                // let chk2 = this.notParentMember.filter(val => {
                                //     return val.parent == person.no;
                                // });

                                // if (person.no == 85) {

                                //     person.children = [];
                                //     person.children.push({
                                //         no: "1212",
                                //         parent: "85",
                                //         pa: "data.pa",
                                //         page: "data.page",
                                //         sesu: 19,
                                //         seq: 2,
                                //         sex: 0,
                                //         name: "name"
                                //     });

                                //     console.log(person);

                                // }

                                // if (chk1) {
                                //     console.log(person.no);
                                // }


                                let checkMember = this.notParentMember.findIndex(obj => obj.no == person
                                    .no);

                                // 배열에 해당멤버의 정보가 없으면 추가
                                if (checkMember == -1) {
                                    // console.log("부모가 없는 아이", person, person.name, person.sesu)
                                    this.notParentMember.push(person)
                                    this.deletePerson(person)
                                }

                            }

                            // console.log(1);

                        }

                        // 부모번호가 일치하면 자녀로 추가
                        if (familyMember.no == person.parent) {

                            console.log(familyMember);

                            // 자녀의 데이터 값이 없으면 빈배열 추가 
                            if (!familyMember.children) familyMember.children = []

                            // 자녀배열에 데이터 추가
                            familyMember.children.push(person)
                            this.deletePerson(person)

                        }

                        // 해당 가족 멤버가 자녀가 있으면 재귀호출
                        if (familyMember.children && familyMember.children.length > 0) {
                            this.addFamily(familyMember.children, person) // 재귀호출
                        }

                        // 

                    })
                }
            },

            // 재귀호출로 인한 자녀 무한생성 방지를 위한 자녀 추가 후 해당 자녀 제거
            deletePerson: function (targetPerson) {
                for (let i = 0; i < this.originData.length; i++) {
                    if (this.originData[i].no == targetPerson.no) {
                        this.originData.splice(i, 1)
                    }
                }
            },

            // 같은세대의 멤버 오름차순 정렬
            sortChild: function (children) {

                if (!children) children = this.familyMap

                //정렬 1.세대순서
                children.sort((child1, child2) => {
                    return child1.seq - child2.seq
                })

                //정렬 2.성별
                children.sort((child1, child2) => {
                    return child1.sex - child2.sex
                })

                //정렬 3.부모정보
                children.sort((child1, child2) => {
                    return child2.parent - child1.parent
                })

                children.forEach(child => {
                    if (child.children && child.children.length > 0) this.sortChild(child.children)
                })

            },

            // 연결할 자녀 추가
            addChild: function (child) {

                if ((this.joinParentInfo.sesu - child.sesu) < -1) {
                    alert("2세대 이상 차이나는 자녀는 연결이 안되요!")
                    return false;
                }

                let checkMember = this.joinChildrenInfo.findIndex(obj => obj.no == child
                    .no);

                // 배열에 해당자녀의 정보가 없으면 추가
                if (checkMember == -1) this.joinChildrenInfo.push(child)
            },

            // 연결할 자녀 삭제
            deleteChild: function (index) {
                this.joinChildrenInfo.splice(index - 1, 1)
            },

            // 부모-자녀 연결
            joinChild: function () {
                let check = confirm("해당 부모와 자녀를 연결하실껀가요?")

                if (check) alert("성공!")
            }

        },
    })
</script>

</html>