<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyMap</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style4.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <!-- family list -->
    <script type="text/x-template" id="item-template">
        <li>
            <!-- 부모정보 -->
            <!-- 
                TODO: .tree-node의 형제클래스를 상황에 맞는 추가해 주세요
                1. 자식이 없으면 => not_child
                2. 부모가 없으면 => not_parent
                3. 같은 세대의 가족 중 마지막 자녀이면 => last_member
            -->
            <div class="tree-node" >
                <div class="inner">
                    <div class="member-info">
                        <div class="name">
                            <div class="sex">
                                <span v-if="item.sex == 0">&#23376;</span>
                                <span v-else>&#22899;</span>
                            </div>
                            {{item.no}}
                        </div>
                        <div class="life-time">
                            <!-- <ul class="life-wrap">
                                <li class="list">
                                    <div>부모: 부모정보</div>
                                </li>
                                <li class="list">
                                    <div>세대순서: 세대정보</div>
                                </li>
                                <li class="list">
                                    <div>자기번호: 자기번호</div>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 자녀리스트 -->
            <ul class="tree-child">
                <tree-item
                class="child"
                v-for="(child, index) in item.children"
                :key="index"
                :item="child"
                >
                </tree-item>
            </ul>
        </li>
    </script>

    <div id="familyWrap">
        <!-- header -->
        <header>
            <div class="info_wrap">
                <ul class="group first">
                    <li class="list first">ㄱㄴㄷㄹㅁㅂ</li>
                    <li class="list">ㄱㄴㄷㄹ : 53,321</li>
                    <li class="list">ㄱㄴㄷㄹ : 21.234</li>
                </ul>
                <ul class="group last">
                    <li class="list">세보 추가 및 수정문의 연락처 종친회 사무국 : 000-0000-0000</li>
                    <li class="list last">세보 시스템 기부자 : 19세손 최 ㅇ ㅇ 회장</li>
                </ul>
            </div>
        </header>

        <!-- content -->
        <div class="content">
            <div class="sec_wrap">
                <!-- 세대 및 트리 영역 -->
                <div class="sec treeWrap">
                    <div class="sesu_list">
                        <div class="list">
                            <p class="year">19세</p>
                            <ul class="sesu">
                                <li>임근식상</li>
                                <li>ㄱㄴㄷㄹ</li>
                            </ul>
                        </div>
                        <div class="list">
                            <p class="year">20세</p>
                            <ul class="sesu">
                                <li>병환열</li>
                                <li>ㄱㄴㄷ</li>
                            </ul>
                        </div>
                    </div>
                    <!-- 트리표기영역 -->
                    <div class="inner">
                        <div class="head">
                            <div class="group">
                                <button type="button" class="btn prev">
                                    <i class="material-icons">
                                        keyboard_arrow_up
                                    </i>
                                </button>
                                <h3 class="tit">부모세대 : 19세</h3>
                                <button type="button" class="btn next">
                                    <i class="material-icons">
                                        keyboard_arrow_down
                                    </i>
                                </button>
                            </div>
                            <div class="group last">
                                <div class="inner">
                                    <label for="">바로가기</label>
                                    <input type="text" size="4">세
                                </div>
                                <button tpye="button" class="btn move">이동</button>
                            </div>
                        </div>

                        <div class="cont">
                            <div class="tree_row">
                                <!-- 트리구조 -->
                                <div class="tree-map">
                                    <ul class="tree-child">
                                        <li class="child" v-for="family in familyMap">
                                            <ul class="tree-child">
                                                <tree-item class="member" :item="family"></tree-item>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- 트리표기 영역 끝-->
                </div>

                <!-- 족보 책 이미지 영역 -->
                <div class="sec preview">
                    <div class="head">
                        <h3 class="tit">0권 000페이지</h3>
                    </div>
                    <div class="cont">
                        <img class="photo"
                            src="https://lh3.googleusercontent.com/proxy/fp4YLfsyu_p9HdwgQzFYZ7O-6C48KxvrE1bOnM9zL0wL7dArVzJURkh0BbAmo_JdSBFxE4L27pC2NE8fwA"
                            alt="" width="100%">
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>

<script>
    // define the tree-item component
    Vue.component('tree-item', {
        template: '#item-template',
        props: {
            item: Object
        },
        data: function () {
            return {

            }
        },
        methods: {}

    })

    // boot up the family
    var family = new Vue({
        el: '#familyWrap',
        data: () => {
            return {
                familyMap: [{
                        no: 1,
                        sex: 0, //성별 (0:남자, 1:여자)
                        children: [{
                            no: "ㄱㄴ",
                            sex: 1, //성별 (0:남자, 1:여자)
                        }, {
                            no: "ㄱㄴ",
                            sex: 0, //성별 (0:남자, 1:여자)
                        }]
                    },
                    {
                        no: 3, //자신의 키값이면서 자녀가 부모를 찾을때의 값
                        sex: 0, //성별 (0:남자, 1:여자)
                        children: [{
                            no: "ㄷㄹ", //자신의 키값이면서 자녀가 부모를 찾을때의 값
                            sex: 1, //성별 (0:남자, 1:여자)
                        }, {
                            no: "ㄷㄹ", //자신의 키값이면서 자녀가 부모를 찾을때의 값
                            sex: 0, //성별 (0:남자, 1:여자)
                        }]

                    }
                ],
            }
        }
    })
</script>

</html>