<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyMap</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style4.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <!-- family list -->
    <script type="text/x-template" id="item-template">

        <ul class="tree-child">
            <!--동적 엘리먼트로 item == familyMap-->
            <li class="child" v-for="(family, index) in item">
                <ul class="tree-child">
                    <li>
                        <div class="tree-node not_parent last_member" @click="selectPerson(family.no, 0, index, '')">
                            <div class="inner">
                                <div class="member-info">
                                    <div class="name">
                                        <div class="sex">
                                            남
                                        </div>
                                        {{family.no}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="tree-child">
                            <li class="child" v-for="(child, index2) in family.children">
                                <ul class="tree-child">
                                    <li>
                                        <div class="tree-node not_child" :class="{last_member : child.youngerBro == 0}" @click="selectPerson(child.no, 1, index, index2)">
                                            <div class="inner">
                                                <div class="member-info">
                                                    <div class="name">
                                                        <div class="sex">
                                                            남
                                                        </div>
                                                        {{child.no}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>    
                            </li>
                        </ul>

                    </li>
                </ul>
            </li>
        </ul>

    </script>
    <!-- family list -->

    <script type="text/x-template" id="nonFamily-template">

        <div>

            <ul class="tree-child">
                <li class="child" v-for="obj in item[0]">
                    <ul>
                        <li>
                            <div class="tree-node not_child not_parent last_member">
                                <div class="inner">
                                    <div class="member-info">
                                        <div class="name">
                                            <div class="sex">
                                                남
                                            </div>
                                            {{obj.no}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>    
                </li>
            </ul>

            <ul class="tree-child">
                <li class="child" v-for="obj in item[1]">
                    <ul>
                        <li>
                            <div class="tree-node not_child not_parent last_member">
                                <div class="inner">
                                    <div class="member-info">
                                        <div class="name">
                                            <div class="sex">
                                                남
                                            </div>
                                            {{obj.no}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>    
                </li>
            </ul>

        </div>

    </script>



    <div id="familyWrap">
        <!-- header -->
        <header>
            <div class="info_wrap">
                <ul class="group first">
                    <li class="list first">ㄱㄴㄷㄹㅁㅂ</li>
                    <li class="list">ㄱㄴㄷㄹ : 53,321</li>
                    <li class="list">ㄱㄴㄷㄹ : 21.234</li>
                </ul>
                <ul class="group last">
                    <li class="list">세보 추가 및 수정문의 연락처 종친회 사무국 : 000-0000-0000</li>
                    <li class="list last">세보 시스템 기부자 : 19세손 최 ㅇ ㅇ 회장</li>
                </ul>
            </div>
        </header>

        <!-- content -->
        <div class="content">
            <div class="sec_wrap">
                <!-- 세대 및 트리 영역 -->
                <div class="sec treeWrap">
                    <div class="sesu_list">
                        <div class="list">
                            <p class="year">19세</p>
                            <ul class="sesu">
                                <li>임근식상</li>
                                <li>ㄱㄴㄷㄹ</li>
                            </ul>
                        </div>
                        <div class="list">
                            <p class="year">20세</p>
                            <ul class="sesu">
                                <li>병환열</li>
                                <li>ㄱㄴㄷ</li>
                            </ul>
                        </div>
                    </div>
                    <!-- 트리표기영역 -->
                    <div class="inner">
                        <div class="head">
                            <div class="group">
                                <button type="button" class="btn prev">
                                    <i class="material-icons">
                                        keyboard_arrow_up
                                    </i>
                                </button>
                                <h3 class="tit">부모세대 : 19세</h3>
                                <button type="button" class="btn next">
                                    <i class="material-icons">
                                        keyboard_arrow_down
                                    </i>
                                </button>
                            </div>
                            <div class="group last">
                                <div class="inner">
                                    <label for="">바로가기</label>
                                    <input type="text" size="4" v-model="parentSesu">세
                                </div>
                                <button tpye="button" class="btn move" @click="search()">이동</button>
                                <!-- <button tpye="button" class="btn move" @click="test()">연결</button> -->
                            </div>
                        </div>

                        <div class="cont" ref="treeCont">
                            <div class="tree_row">
                                <!-- 트리구조 -->
                                <div class="tree-map">
                                    <tree-item class="member" :item="familyMap"></tree-item>
                                </div>

                                <div class="tree-map">
                                    <non-item class="member" :item="notConnectData"></non-item>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 트리표기 영역 끝-->
                </div>

                <!-- 족보 책 이미지 영역 -->
                <div class="sec preview">
                    <div class="head">
                        <h3 class="tit">0권 000페이지</h3>
                    </div>
                    <div class="cont">
                        <img class="photo"
                            src="https://lh3.googleusercontent.com/proxy/fp4YLfsyu_p9HdwgQzFYZ7O-6C48KxvrE1bOnM9zL0wL7dArVzJURkh0BbAmo_JdSBFxE4L27pC2NE8fwA"
                            alt="" width="100%">
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js">
</script>

<script>
    // define the tree-item component
    Vue.component('tree-item', {
        template: '#item-template',
        props: {
            item: {
                type: Array,
                required: true
            }
        },
        watch: {
            item: {
                deep: true,
                handler() {}
            }
        },
        data: function () {
            return {
                parentInfo: [],
                selectedChildren: []
            }
        },
        methods: {
            selectPerson(no, status, index, index2) {

                if (status == 0) {

                    this.parentInfo['no'] = no;
                    this.parentInfo['index'] = index;

                }

                if (status == 1) {

                    this.selectedChildren['no'] = no;
                    this.selectedChildren['parentIndex'] = index;
                    this.selectedChildren['myIndex'] = index2;

                }

                if (this.parentInfo['no'] && this.selectedChildren['no']) {

                    let objParentIdx = this.selectedChildren['parentIndex'];
                    let objIdx = this.selectedChildren['myIndex'];

                    let moveObj = this.item[objParentIdx].children[objIdx];

                    // 이동
                    this.item[this.parentInfo['index']].children.push(moveObj);
                    this.item[objParentIdx].children.splice(objIdx, 1);

                    // 부모가 된자와 




                    this.item.push();


                }


            }
        }

    });

    Vue.component('non-item', {
        template: '#nonFamily-template',
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        watch: {
            item: {
                deep: true,
                handler() {}
            }
        },
        data: function () {
            return {

            }
        }

    });

    // boot up the family
    var family = new Vue({
        el: '#familyWrap',
        data: () => {
            return {
                originData: {
                    0: [],
                    1: []
                },
                notConnectData: {
                    0: [],
                    1: []
                },
                parentSesu: 0,
                familyMap: [],
                start: 0,
                limit: 30,
            }
        },
        methods: {

            test() {

                console.log(this.originData[0][0].no);
                console.log(this.originData[0][2].children[0].no);
                // console.log(this.originData[0][2]);

                let target = this.originData[0][2].children[0];

                this.originData[0][0].children.push(target);
                this.originData[0][2].children.splice(0, 1);

                // 재배열
                this.originData[0][0].children.forEach(child => {

                    let checkBro = this.originData[0][0].children.filter(obj => {
                        return parseInt(obj.no) > parseInt(child.no);
                    });

                    child.youngerBro = checkBro.length;

                    this.originData[0][0].children.sort((child1, child2) => {
                        return child1.no - child2.no;
                    });

                });


                this.familyMap = this.originData[0];
                this.familyMap.push();

            },

            async search() {

                let url = "http://jogboapi.appmowa.com/jogbo_join_list.php";

                let form = new FormData();
                form.append("sesu", this.parentSesu);
                form.append("limit", `${this.start}, ${this.limit}`);

                // 자식
                let form1 = new FormData();
                form1.append("sesu", parseInt(this.parentSesu) + 1);
                form1.append("limit", `${this.start}, ${this.limit}`);

                await axios.post(url, form1).then(res => {
                    if (res.data) {
                        res.data.forEach(data => {
                            let objName = "";
                            let name = data.option.filter(obj => {
                                return obj.jogbo_fieldName == "이름";
                            });

                            if (name.length != 0) {
                                objName = name[0].jogbo_field;
                            } else {
                                objName = "미등록";
                            }

                            let sex = data.sex == "남" ? 0 : 1;

                            if (data.parent != 0) {

                                let checkBro = res.data.filter(obj => {
                                    return obj.parent == data.parent && parseInt(obj
                                            .no) > parseInt(data.no) &&
                                        obj.parent != 0;
                                });

                                this.originData[1].push({
                                    no: data.no,
                                    parent: data.parent,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 1,
                                    youngerBro: checkBro.length
                                });

                            } else {

                                this.notConnectData[1].push({
                                    no: data.no,
                                    parent: data.parent,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 1,
                                    youngerBro: 0
                                });

                            }
                        });
                    }
                });

                // 부모 
                await axios.post(url, form).then(res => {
                    if (res.data) {
                        res.data.forEach(data => {
                            let objName = "";
                            let name = data.option.filter(obj => {
                                return obj.jogbo_fieldName == "이름";
                            });

                            if (name.length != 0) {
                                objName = name[0].jogbo_field;
                            } else {
                                objName = "미등록";
                            }

                            let sex = data.sex == "남" ? 0 : 1;

                            let checkChildren = this.originData[1].findIndex(obj => obj
                                .parent == data.no);

                            if (checkChildren != -1) {

                                this.originData[0].push({
                                    no: data.no,
                                    parent: null,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 0,
                                });

                            } else {

                                this.notConnectData[0].push({
                                    no: data.no,
                                    parent: null,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 0,
                                });

                            }
                        });
                    }
                });

                for (let i = 0; i <= 1; i++) {
                    this.originData[i].forEach(person => {
                        this.checkChildren(person, i);
                    });
                }

                console.log(this.originData);
                this.familyMap = this.originData[0];

                this.$refs.treeCont.addEventListener("scroll", this.handleScroll); //수평스크롤
                this.$refs.treeCont.addEventListener("mousewheel", this.handleWheel); //수평스크롤+마우스휠

            },

            checkChildren(person, i) {
                let index = i + 1;

                if (!this.originData[index]) {
                    return;
                }

                let chkChildred = this.originData[index].filter(obj => {
                    return obj.parent == person.no;
                });

                let persionIndex = this.originData[i].findIndex(obj => obj.no == person.no);

                if (chkChildred.length == 0 && persionIndex != -1) {
                    return;
                } else {
                    person.children = [];
                    person.testCount = 0;

                    chkChildred.forEach(children => {
                        person.children.push(children);
                        person.testCount++;
                        let child_no = this.originData[index].findIndex(obj => obj.no == children.no);
                        this.originData[index].splice(child_no, 1);
                        this.checkChildren(children, children.sesu);
                    });
                }
            },

            //가로 스크롤 이벤트 
            handleScroll(event) {

                let treeCont = this.$refs.treeCont
                let getScrollWidth = treeCont.scrollWidth; //컨텐츠 전체 크기
                let getScrollLeft = treeCont.scrollLeft; //수평 스크롤의 위치 
                let getScrollEnd = getScrollWidth - treeCont.clientWidth;

                // console.log("scrollWidth", getScrollWidth, getScrollLeft, getScrollEnd, treeCont.clientWidth);

                if (getScrollLeft === getScrollEnd) {
                    alert("수평 스크롤의 끝에 도착했어요!!");
                }
            },

            //수평스크롤+마우스휠
            handleWheel(event) {
                // console.log(this.$refs.treeCont.scrollLeft, event.wheelDelta)

                this.$refs.treeCont.scrollLeft += (event.wheelDelta / 60);

                event.preventDefault();
            },

        }
    })
</script>

</html>