<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyMap</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style4.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="familyWrap">
        <!-- header -->
        <header>
            <div class="info_wrap">
                <ul class="group first">
                    <li class="list first">司成公派世譜</li>
                    <li class="list">등록자손수 : 53,531</li>
                    <li class="list">생존자손수 : 21,234</li>
                </ul>
                <ul class="group last">
                    <li class="list">세보 추가 및 수정문의 연락처 종친회 사무국 : 000-0000-0000</li>
                    <li class="list last">세보 시스템 기부자 : 19세손 최 ㅇ ㅇ 회장</li>
                </ul>
            </div>
        </header>

        <!-- content -->
        <div class="content">
            <div class="sec_wrap">
                <!-- 세대 및 트리 영역 -->
                <div class="sec treeWrap">
                    <div class="sesu_list">
                        <div class="list">
                            <p class="year">{{this.parentSesu}}세</p>
                            <ul class="sesu">
                                <li>임근식상</li>
                                <li>ㄱㄴㄷㄹ</li>
                            </ul>
                        </div>
                        <div class="list">
                            <p class="year">{{parseInt(this.parentSesu) + 1}}세</p>
                            <ul class="sesu">
                                <li>병환열</li>
                                <li>ㄱㄴㄷ</li>
                            </ul>
                        </div>
                    </div>
                    <!-- 트리표기영역 -->
                    <div class="inner">
                        <div class="head">
                            <div class="group">
                                <button type="button" class="btn prev">
                                    <i class="material-icons" @click="moveSesu(0)">
                                        keyboard_arrow_up
                                    </i>
                                </button>
                                <h3 class="tit">부모세대 : {{this.parentSesu}}세</h3>
                                <button type="button" class="btn next">
                                    <i class="material-icons" @click="moveSesu(1)">
                                        keyboard_arrow_down
                                    </i>
                                </button>
                            </div>
                            <div class="group last">
                                <div class="inner">
                                    <label for="">바로가기</label>
                                    <input type="text" size="4" v-model="parentSesu">세
                                </div>
                                <button tpye="button" class="btn move" @click="search()">이동</button>
                                <!-- <button tpye="button" class="btn move" @click="test()">연결</button> -->
                            </div>
                        </div>

                        <div class="cont" ref="treeCont">
                            <div class="tree_row">
                                <!-- 트리구조 -->
                                <div class="tree-map">
                                    <ul class="tree-child member">
                                        <!--동적 엘리먼트로 item == familyMap-->
                                        <li class="child" v-for="(family, index) in familyMap">
                                            <ul class="tree-child">
                                                <li>
                                                    <div class="tree-node not_parent last_member" :id="'pnode_' + family.no"
                                                        @click="selectObj('parent', index, '', 'family')">
                                                        <div class="inner">
                                                            <div class="member-info">
                                                                <div class="name">
                                                                    <div class="sex">
                                                                        <span v-if="family.sex == 0">&#23376;</span>
                                                                        <span v-else>&#22899;</span>
                                                                    </div>
                                                                    {{family.name}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <ul class="tree-child">
                                                        <li class="child" v-for="(child, index2) in family.children">
                                                            <ul class="tree-child">
                                                                <li>
                                                                    <div class="tree-node not_child" :id="'node_' + child.no"
                                                                        :class="{last_member : child.youngerBro == 0}"
                                                                        @click="selectObj('children', index, index2, 'family')">
                                                                        <div class="inner">
                                                                            <div class="member-info">
                                                                                <div class="name">
                                                                                    <div class="sex">
                                                                                        <span v-if="child.sex == 0">&#23376;</span>
                                                                                        <span v-else>&#22899;</span>
                                                                                    </div>
                                                                                    {{child.name}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tree-map">
                                    <div class="member">
                                        <ul class="tree-child">
                                            <li class="child" v-for="(obj, index) in notConnectData[0]">
                                                <ul>
                                                    <li>
                                                        <div class="tree-node not_child not_parent last_member" :id="'pnode_' + obj.no"
                                                            @click="selectObj('parent', index, '', 'nonFamily')">
                                                            <div class="inner">
                                                                <div class="member-info">
                                                                    <div class="name">
                                                                        <div class="sex">
                                                                            <span v-if="obj.sex == 0">&#23376;</span>
                                                                            <span v-else>&#22899;</span>
                                                                        </div>
                                                                        {{obj.name}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="child" v-if="notConnectData[0].length == 0">
                                                <ul>
                                                    <li>
                                                        <div class="tree-node not_child not_parent last_member">
                                                            <div class="inner" style="border:1px solid #FFFFFF;">
                                                                <div class="member-info">
                                                                    <div class="name">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                        <ul class="tree-child">
                                            <li class="child" v-for="(obj, index) in notConnectData[1]">
                                                <ul>
                                                    <li>
                                                        <div class="tree-node not_child not_parent last_member" :id="'node_' + obj.no"
                                                            @click="selectObj('children', '', index, 'nonFamily')">
                                                            <div class="inner">
                                                                <div class="member-info">
                                                                    <div class="name">
                                                                        <div class="sex">
                                                                            <span v-if="obj.sex == 0">&#23376;</span>
                                                                            <span v-else>&#22899;</span>
                                                                        </div>
                                                                        {{obj.name}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="child" v-if="notConnectData[1].length == 0">
                                                <ul>
                                                    <li>
                                                        <div class="tree-node not_child not_parent last_member">
                                                            <div class="inner" style="border:1px solid #FFFFFF;">
                                                                <div class="member-info">
                                                                    <div class="name">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 트리표기 영역 끝-->
                </div>

                <!-- 족보 책 이미지 영역 -->
                <div class="sec preview">
                    <div class="head">
                        <h3 class="tit">{{this.pageInfo}}</h3>
                    </div>
                    <div class="cont">
                        <img class="photo" :src="this.jogboUrl" alt="" width="100%">
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js">
</script>

<script>
    // boot up the family
    var family = new Vue({
        el: '#familyWrap',
        data: () => {
            return {
                originData: {
                    0: [],
                    1: []
                },
                notConnectData: {
                    0: [],
                    1: []
                },
                parentSesu: 0,
                familyMap: [],
                start: 0,
                limit: 30,
                selectedParent: [],
                selectedChildren: [],
                selectedNonChildren: [],
                jogboUrl: "",
                pageInfo: ""
            }
        },
        methods: {

            makePage(pa, page) {

                if (page.length == 2) {
                    page = "0" + page;
                }

                if (page.length == 1) {
                    page = "00" + page;
                }

                this.jogboUrl = "http://jogboapi.appmowa.com/source/" + pa + page + ".png";
                this.pageInfo = pa + " " + page + "페이지";

            },


            selectObj(type, index, index2, option1) {

                if (type == "parent") {
                    if (option1 == "family") {
                        this.selectedParent = this.familyMap[index];
                    }

                    if (option1 == "nonFamily") {
                        this.selectedParent = this.notConnectData[0][index];
                    }

                    $(".member-info").css("background-color", "#FFFFFF");
                    $("#pnode_" + this.selectedParent.no).find(".member-info").css("background-color", "#eaeaea");

                    this.makePage(this.selectedParent.pa, this.selectedParent.page);

                }

                if (type == "children") {

                    if (!this.selectedParent.no) {
                        alert("부모를 먼저 선택해 주세요.");
                        this.selectedChildren = [];
                        return;
                    }

                    if (option1 == "family") {
                        this.selectedChildren = this.familyMap[index].children[index2];
                    }

                    if (option1 == "nonFamily") {
                        this.selectedChildren = this.notConnectData[1][index2];
                    }
                }

                if (this.selectedParent.no && this.selectedChildren.no) {

                    if (this.selectedParent.no == this.selectedChildren.parent) {

                        this.disconnect(this.selectedChildren.no);

                        let findIndex = this.selectedParent.children.findIndex(obj => obj.no == this.selectedChildren.no);
                        this.selectedParent.children.splice(findIndex, 1);
                        this.selectedChildren.parent = 0;
                        this.notConnectData[1].push(this.selectedChildren);

                        if (this.selectedParent.children.length == 0) {

                            let findIndex = this.familyMap.findIndex(obj => obj.no == this.selectedParent.no);
                            this.notConnectData[0].push(this.selectedParent);
                            this.familyMap.splice(findIndex, 1);
                            this.selectedParent = [];

                        } else {

                            this.selectedParent.children.forEach(child => {

                                let checkBro = this.selectedParent.children.filter(obj => {
                                    return parseInt(obj.no) > parseInt(child.no);
                                });

                                child.youngerBro = checkBro.length;
                                this.selectedParent.children.sort((child1, child2) => {
                                    return child1.no - child2.no;
                                });

                            });

                        }

                        this.selectedChildren = [];
                        this.notConnectData[0].sort((child1, child2) => {
                            return child1.no - child2.no;
                        });
                        this.notConnectData[1].sort((child1, child2) => {
                            return child1.no - child2.no;
                        });

                    } else {

                        // 연결
                        if (this.selectedParent.children.length != 0 && this.selectedChildren.parent != 0) {
                            // 연결된 부모 - 연결된 자식
                            console.log("case1");
                            this.connect(this.selectedParent.no, this.selectedChildren.no);

                            let findIndex = this.familyMap.findIndex(obj => obj.no == this.selectedChildren.parent);
                            let findIndex2 = this.familyMap[findIndex].children.findIndex(obj => obj.no == this.selectedChildren.no);
                            let oldParent = this.familyMap[findIndex];

                            this.familyMap[findIndex].children.splice(findIndex2, 1);

                            this.selectedChildren.parent = this.selectedParent.no;
                            this.selectedParent.children.unshift(this.selectedChildren);

                            this.selectedParent.children.forEach(child => {

                                let checkBro = this.selectedParent.children.filter(obj => {
                                    return parseInt(obj.no) > parseInt(child.no);
                                });

                                setTimeout(() => {
                                    child.youngerBro = checkBro.length;
                                    this.selectedParent.children.sort((child1, child2) => {
                                        return child1.no - child2.no;
                                    });
                                }, 1);

                            });

                            if (oldParent.children.length == 0) {

                                let oldIndex = this.familyMap.findIndex(obj => obj.no == oldParent.no);
                                this.notConnectData[0].push(oldParent);
                                this.familyMap.splice(oldIndex, 1);

                            } else {

                                oldParent.children.forEach(child => {

                                    let checkBro = oldParent.children.filter(obj => {
                                        return parseInt(obj.no) > parseInt(child.no);
                                    });

                                    setTimeout(() => {
                                        child.youngerBro = checkBro.length;
                                        oldParent.children.sort((child1, child2) => {
                                            return child1.no - child2.no;
                                        });
                                    }, 1);

                                });

                            }

                            this.selectedChildren = [];
                            setTimeout(() => {
                                $(".member-info").css("background-color", "#FFFFFF");
                                $("#pnode_" + this.selectedParent.no).find(".member-info").css("background-color", "#eaeaea");
                            }, 1);

                        }

                        if (this.selectedParent.children.length != 0 && this.selectedChildren.parent == 0) {
                            // 연결된 부모 - 연결안된 자식
                            console.log("case2");
                            this.connect(this.selectedParent.no, this.selectedChildren.no);

                            this.selectedChildren.parent = this.selectedParent.no;
                            this.selectedParent.children.unshift(this.selectedChildren);

                            let findIndex = this.notConnectData[1].findIndex(obj => obj.no == this.selectedChildren.no);
                            this.notConnectData[1].splice(findIndex, 1);
                            this.selectedParent.children.forEach(child => {

                                let checkBro = this.selectedParent.children.filter(obj => {
                                    return parseInt(obj.no) > parseInt(child.no);
                                });

                                setTimeout(() => {
                                    child.youngerBro = checkBro.length;
                                    this.selectedParent.children.sort((child1, child2) => {
                                        return child1.no - child2.no;
                                    });
                                }, 1);

                            });

                            this.selectedChildren = [];
                        }

                        if (this.selectedParent.children.length == 0 && this.selectedChildren.parent != 0) {
                            // 연결안된 부모 - 연결된 자식
                            console.log("case3");
                            this.connect(this.selectedParent.no, this.selectedChildren.no);

                            let findIndex = this.familyMap.findIndex(obj => obj.no == this.selectedChildren.parent);
                            let findIndex2 = this.familyMap[findIndex].children.findIndex(obj => obj.no == this.selectedChildren.no);
                            let oldParent = this.familyMap[findIndex];

                            this.familyMap[findIndex].children.splice(findIndex2, 1);

                            this.selectedChildren.parent = this.selectedParent.no;
                            this.selectedChildren.youngerBro = 0;
                            this.selectedParent.children.unshift(this.selectedChildren);

                            this.familyMap.push(this.selectedParent);

                            let myIndex = this.notConnectData[0].findIndex(obj => obj.no == this.selectedParent.no);
                            this.notConnectData[0].splice(myIndex, 1);

                            if (oldParent.children.length == 0) {

                                let oldIndex = this.familyMap.findIndex(obj => obj.no == oldParent.no);
                                this.notConnectData[0].push(oldParent);
                                this.familyMap.splice(oldIndex, 1);

                            } else {

                                oldParent.children.forEach(child => {

                                    let checkBro = oldParent.children.filter(obj => {
                                        return parseInt(obj.no) > parseInt(child.no);
                                    });

                                    child.youngerBro = checkBro.length;
                                    oldParent.children.sort((child1, child2) => {
                                        return child1.no - child2.no;
                                    });

                                });

                            }

                            this.selectedChildren = [];
                            setTimeout(() => {
                                $(".member-info").css("background-color", "#FFFFFF");
                                $("#pnode_" + this.selectedParent.no).find(".member-info").css("background-color", "#eaeaea");
                            }, 1);

                        }

                        if (this.selectedParent.children.length == 0 && this.selectedChildren.parent == 0) {
                            // 연결안된 부모 - 연결된 자식
                            console.log("case4");
                            this.connect(this.selectedParent.no, this.selectedChildren.no);

                            this.selectedChildren.parent = this.selectedParent.no;
                            this.selectedChildren.youngerBro = 0;
                            this.selectedParent.children.push(this.selectedChildren);

                            this.familyMap.push(this.selectedParent);

                            let findIndexNew = this.familyMap.findIndex(obj => obj.no == this.selectedParent.no);
                            this.selectedParent = this.familyMap[findIndexNew];

                            let findIndexOldParent = this.notConnectData[0].findIndex(obj => obj.no == this.selectedParent.no);
                            let findIndexOldChild = this.notConnectData[1].findIndex(obj => obj.no == this.selectedChildren.no);

                            this.notConnectData[0].splice(findIndexOldParent, 1);
                            this.notConnectData[1].splice(findIndexOldChild, 1);

                            this.selectedChildren = [];

                            setTimeout(() => {
                                $(".member-info").css("background-color", "#FFFFFF");
                                $("#pnode_" + this.selectedParent.no).find(".member-info").css("background-color", "#eaeaea");
                            }, 1);

                        }


                    }

                } // 부모 - 자녀가 다 있다면

                this.familyMap.push();

            },

            connect(parentNo, childrenNo) {

                let url = "http://jogboapi.appmowa.com/jogbo_parent_set.php";
                let form = new FormData();
                form.append("no", childrenNo);
                form.append("parent", parentNo);
                form.append("chk", "1");
                axios.post(url, form);

            },

            disconnect(childrenNo) {

                let url = "http://jogboapi.appmowa.com/jogbo_parent_set.php";
                let form = new FormData();
                form.append("no", childrenNo);
                form.append("chk", "1");

                axios.post(url, form);

            },

            moveSesu(direction) {

                if (direction == 1) {

                    this.parentSesu = parseInt(this.parentSesu) + 1;
                    this.search();

                }

                if (direction == 0) {

                    this.parentSesu = parseInt(this.parentSesu) - 1;

                    if (this.parentSesu < 0) {

                        this.parentSesu = 0;
                        alert("최초 세수 입니다.");
                        return;

                    }

                    this.search();

                }

            },


            async search() {

                this.familyMap = [];
                this.originData[0] = [];
                this.originData[1] = [];
                this.notConnectData[0] = [];
                this.notConnectData[1] = [];
                this.selectedParent = [];
                this.selectedChildren = [];
                this.selectedNonChildren = [];

                let url = "http://jogboapi.appmowa.com/jogbo_join_list.php";

                let form = new FormData();
                form.append("sesu", this.parentSesu);
                form.append("limit", `${this.start}, ${this.limit}`);

                // 자식
                let form1 = new FormData();
                form1.append("sesu", parseInt(this.parentSesu) + 1);
                form1.append("limit", `${this.start}, ${this.limit}`);

                await axios.post(url, form1).then(res => {
                    if (res.data) {
                        res.data.forEach(data => {
                            let objName = "";
                            let name = data.option.filter(obj => {
                                return obj.jogbo_fieldName == "이름";
                            });

                            if (name.length != 0) {
                                objName = name[0].jogbo_field;
                            } else {
                                objName = "미등록";
                            }

                            let sex = data.sex == "남" ? 0 : 1;

                            if (data.parent != 0) {

                                let checkBro = res.data.filter(obj => {
                                    return obj.parent == data.parent && parseInt(obj
                                            .no) > parseInt(data.no) &&
                                        obj.parent != 0;
                                });

                                this.originData[1].push({
                                    no: data.no,
                                    parent: data.parent,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 1,
                                    youngerBro: checkBro.length
                                });

                            } else {

                                this.notConnectData[1].push({
                                    no: data.no,
                                    parent: data.parent,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 1,
                                    youngerBro: 0
                                });

                            }
                        });
                    }
                });

                // 부모 
                await axios.post(url, form).then(res => {
                    if (res.data) {
                        res.data.forEach(data => {
                            let objName = "";
                            let name = data.option.filter(obj => {
                                return obj.jogbo_fieldName == "이름";
                            });

                            if (name.length != 0) {
                                objName = name[0].jogbo_field;
                            } else {
                                objName = "미등록";
                            }

                            let sex = data.sex == "남" ? 0 : 1;

                            let checkChildren = this.originData[1].findIndex(obj => obj
                                .parent == data.no);

                            if (checkChildren != -1) {

                                this.originData[0].push({
                                    no: data.no,
                                    parent: null,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 0,
                                });

                            } else {

                                this.notConnectData[0].push({
                                    no: data.no,
                                    parent: null,
                                    pa: data.pa,
                                    page: data.page,
                                    sesu: data.sesu,
                                    seq: data.seq,
                                    sex: sex,
                                    name: objName,
                                    option: data.option,
                                    root: 0,
                                    children: []
                                });

                            }
                        });
                    }
                });

                for (let i = 0; i <= 1; i++) {
                    this.originData[i].forEach(person => {
                        this.checkChildren(person, i);
                    });
                }

                this.familyMap = this.originData[0];

                this.$refs.treeCont.addEventListener("scroll", this.handleScroll); //수평스크롤
                this.$refs.treeCont.addEventListener("mousewheel", this.handleWheel); //수평스크롤+마우스휠

            },

            checkChildren(person, i) {
                let index = i + 1;

                if (!this.originData[index]) {
                    return;
                }

                let chkChildred = this.originData[index].filter(obj => {
                    return obj.parent == person.no;
                });

                let persionIndex = this.originData[i].findIndex(obj => obj.no == person.no);

                if (chkChildred.length == 0 && persionIndex != -1) {
                    return;
                } else {
                    person.children = [];
                    person.testCount = 0;

                    chkChildred.forEach(children => {
                        person.children.push(children);
                        person.testCount++;
                        let child_no = this.originData[index].findIndex(obj => obj.no == children.no);
                        this.originData[index].splice(child_no, 1);
                        this.checkChildren(children, children.sesu);
                    });
                }
            },

            //가로 스크롤 이벤트 
            handleScroll(event) {

                let treeCont = this.$refs.treeCont
                let getScrollWidth = treeCont.scrollWidth; //컨텐츠 전체 크기
                let getScrollLeft = treeCont.scrollLeft; //수평 스크롤의 위치 
                let getScrollEnd = getScrollWidth - treeCont.clientWidth;

                // console.log("scrollWidth", getScrollWidth, getScrollLeft, getScrollEnd, treeCont.clientWidth);

                if (getScrollLeft === getScrollEnd) {


                }
            },

            //수평스크롤+마우스휠
            handleWheel(event) {
                // console.log(this.$refs.treeCont.scrollLeft, event.wheelDelta)

                this.$refs.treeCont.scrollLeft += (event.wheelDelta / 60);

                event.preventDefault();
            },

        }
    })
</script>

</html>