<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyMap</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
</head>

<body>
    <!-- family list -->
    <script type="text/x-template" id="item-template">
        <li>
            <!-- 부모정보 -->
            <div class="tree-node"  :class="{notChildren: !item.children }">
                <div class="inner">
                    <div class="member-info" v-bind:class="'node_' + item.no">
                        <div class="name" @click="toggle(item)" :class="{active: isShowLifeTime, notParent: !item.parent, rootParent: item.root == 1}">
                            <div class="sex">
                                <span v-if="item.sex == 0">&#23376;</span>
                                <span v-else>&#22899;</span>
                            </div>
                            {{ item.no }}
                        </div>
                        <div class="life-time">
                            <ul class="life-wrap" v-show="isShowLifeTime">
                                <li class="list">
                                    <div>부모: {{item.parent}}</div>
                                </li>
                                <li class="list">
                                    <div>세대순서: {{item.seq}}</div>
                                </li>
                                <li class="list">
                                    <div>자기번호: {{item.no}}</div>
                                </li>
                                <li class="list" v-for="lifeTime in item.lifeTime">
                                    <div>{{lifeTime}}</div>
                                </li>
                                <li class="list">
                                    <div>{{ item.pa}}권 {{ item.page }}페이지 참조</div>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn addPerson" v-show="isShowLifeTime" @click="selectedChild(item)">
                            <i class="material-icons">
                                person_add
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 자녀리스트 -->
            <ul class="tree-child">
                <tree-item
                class="child"
                v-for="(child, index) in item.children"
                :key="index"
                :item="child"
                :class="{first : index == 0, last: index == item.children.length - 1 }"
                >
                </tree-item>
            </ul>
        </li>
    </script>



    <!-- the family root element -->
    <div id="familyWrap">

        <div class="connect_area">
            <div class="menu">
                <p class="close_connect">닫기</p>
            </div>
            <div class="value_area">
                <p>
                    <span class="selected_sesu"></span>
                    <span>세수</span>
                </p>
                <h3 class="selected_name">회원이름</h3>
            </div>
            <div class="bottom_area">
                <button @click="connect()">연결</button>
                <button @click="disConnect()">해제</button>
            </div>
        </div>

        <div class="header">
            <div class="inner">
                <h3 class="title">PROJECT:족보</h3>
                <div class="filterWrap">
                    <!-- <div class="group">
                        <div class="label">이름</div>
                        <input type="text" size="10">
                    </div>
                    <div class="group">
                        <div class="label">책상세</div>
                        <input type="text" size="5">권
                        <input type="text" size="5">페이지
                    </div> -->
                    <!-- <div class="group">
                        <div class="label">세대조회</div>
                        <input type="text" size="5" v-model="sesuStart" id="sesuStart">~
                        <input type="text" size="5" v-model="sesuEnd" id="sesuEnd">
                    </div> -->
                    <!-- <button type="button" class="btn" @click="getFamilyMap()">검색</button> -->
                    <button type="button" class="btn" @click="getFamilyMap()">검색</button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="group treeWrap">

                <div v-for="family in originData" v-if="showFamilyMap == 1" style="margin-bottom:100px; display: flex">

                    <div v-for="person in family" style="padding:20px; margin-left:10px; background-color:red;" :class="'node_' + person.sesu">
                        {{person.no}}
                        <ul>
                            <tree-item class="member" :item="person"></tree-item>
                        </ul>
                    </div>

                </div>

                <div class="tree-map">

                    <div class="tree-child first">
                        <ul class="tree-child">
                            <!--  트리 시작 -->

                            <!-- <li class="child" v-for="members in originData" v-if="showFamilyMap == 1">
                                <ul class="tree-child">
                                    <template v-for="family in members">
                                        <tree-item class="member" :item="family"></tree-item>
                                    </template>
                                </ul>
                            </li> -->

                            <!-- <li class="child" v-for="(members, index) in originData">
                                <ul class="tree-child">
                                    <tree-item class="member" :item="members"></tree-item>
                                </ul>
                            </li> -->

                        </ul>
                    </div>
                </div>
                <div class="tree-sesu">
                    <ul>
                        <!-- <li class="list" v-for="sesu in familSesu">
                            <div class="inner">
                                <div>{{sesu}}세대</div>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>

            <!-- 족보 디테일 영역-->
            <div class="group previewWrap">
                <div v-for="family in originData" v-if="showFamilyMap == 1" style="margin-bottom:100px;">

                    <span v-for="person in family" style="background-color:red; padding:20px; margin-left:10px;">
                        {{person.no}}
                    </span>

                </div>
                <!-- <div class="sec joinMember" v-show="isShowJoinMember">
                    <div class="head">
                        <span class="title">부모-자녀 연결</span>
                        <button type="button" class="btn join" @click="joinChild" v-if="joinChildrenInfo.length >= 1">연결</button>
                    </div>
                    <div class="content">
                        <div class="fild">
                            <div class="label">부모 이름 :</div>
                            <input type="text" size="10" :value="joinParentInfo.name" disabled>
                        </div>
                        <div class="fild" v-for="(child,index) in joinChildrenInfo">
                            <div class="label">추가자녀{{index + 1}} 이름 :</div>
                            <input type="text" size="10" disabled :value="child.name">
                            <button type="button" class="btn delete" @click="deleteChild(index)">-</button>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="sec">
                    <div class="head">
                        <h3 class="title">족보 페이지</h3>
                    </div>
                    <div class="content">
                        <img class="width-100" :src="jogbo_img" />
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="familyMap2.js"></script>

</html>