<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyMap</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
</head>

<body>
    <!-- family list -->
    <script type="text/x-template" id="item-template">
        <li>
            <!-- 부모정보 -->
            <div class="tree-node">
                <div class="inner">
                    <div class="member-info" v-bind:class="'node_' + item.no">
                        <div class="name" @click="toggle(item)" :class="{active: isShowLifeTime, notParent: !item.parent, rootParent: item.root == 1}">
                            <div class="sex">
                                <span v-if="item.sex == 0">&#23376;</span>
                                <span v-else>&#22899;</span>
                            </div>
                            {{ item.no }}
                        </div>
                        <div class="life-time">
                            <ul class="life-wrap" v-show="isShowLifeTime">
                                <li class="list">
                                    <div>부모: {{item.parent}}</div>
                                </li>
                                <li class="list">
                                    <div>세대순서: {{item.seq}}</div>
                                </li>
                                <li class="list">
                                    <div>자기번호: {{item.no}}</div>
                                </li>
                                <li class="list" v-for="lifeTime in item.lifeTime">
                                    <div>{{lifeTime}}</div>
                                </li>
                                <li class="list">
                                    <div>{{ item.pa}}권 {{ item.page }}페이지 참조</div>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn addPerson" v-show="isShowLifeTime" @click="selectedChild(item)">
                            <i class="material-icons">
                                person_add
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 자녀리스트 -->
            <ul class="tree-child">
                <tree-item
                class="child"
                v-for="(child, index) in item.children"
                :key="index"
                :item="child"
                :class="{first : index == 0, last: index == item.children.length - 1 }"
                >
                </tree-item>
            </ul>
        </li>
    </script>



    <!-- the family root element -->
    <div id="familyWrap">
        <div class="header">
            <div class="inner">
                <h3 class="title">PROJECT:족보</h3>
                <div class="filterWrap">
                    <button type="button" class="btn" @click="getFamilyMap2()">검색</button>
                </div>
            </div>
        </div>
        <div class="content" v-if="showFamilyMap == 1">
            <div class="group treeWrap">

                <div v-for="family in originData" style="display:flex; flex-wrap: nowrap; overflow: auto; width:100%;">

                    <div style="display:flex; flex-direction: row; border:1px solid black; background-color:#f2f2f2; margin:15px 5px;"
                        v-for="person in family" v-bind:style="{
                             height : 120 + 'px',
                             marginRight : (person.marginRight * 52) + (person.marginRight * 5) + 'px'
                         }" :class="'node_' + person.no" :id="'name_' + person.no">

                        <div style="width:50px; height:120px;" @click="toggleHistory(person.no)">
                            {{person.no}} {{person.tempSort}}
                        </div>

                        <div style="width:200px; height:120px; background-color:red; display:none;" class="historyCard">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="fmap3.js"></script>

</html>