<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyMap</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
</head>

<body>

    <!-- the family root element -->
    <div id="familyWrap">

        <div class="header">
            <div class="inner">
                <span>
                    <h3 class="title">족보 연결 등록</h3>
                </span>
                <!-- <span>
                    <h3 class="title">족보 연결 등록</h3>
                </span> -->
                <div class="filterWrap">
                    <div class="group">
                        <div class="label">부모세대 입력</div>
                        <input type="text" size="5" id="sesuStart" v-model="parentSesu">
                    </div>

                    <button type="button" class="btn" @click="serach()">검색</button>
                    <!-- <button type="button" class="btn" @click="getFamilyMap2(1)">검색1</button> -->
                    <!-- <button type="button" class="btn" @click="getFamilyMap2(2)">검색2</button> -->
                </div>
            </div>
        </div>

        <div class="content" v-if="showFamilyMap == 1">
            <!-- 세대 ROW 시작 -->
            <div class="group treeWrap" ref="treeWrap">
                <div class="tree_inner" ref="tree_inner">
                    <div class="wrapper" v-for="(family, index) in originData">
                        <div class="tit">{{parseInt(parentSesu) + parseInt(index)}}세대</div>

                        <ul class="tree-child" :id="'tree_' + index" v-if="family.length > 0">
                            <li class="child-member" v-for="person in family" v-bind:style="{
                                    paddingRight : (person.marginRight * 50) + (person.marginRight * 16) + 'px'
                                }" :class="'node_' + person.no" :id="'name_' + person.no">

                                <div class="tree-node">
                                    <div class="inner">
                                        <div class="member-info">
                                            <div class="name" @click="selectePerson(person)">
                                                <div class="sex">
                                                    <span v-if="person.sex == 0">&#23376;</span>
                                                    <span v-else>&#22899;</span>
                                                </div>
                                                {{ person.no }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div :class="'conn_' + person.no" class="conn">
                                    <div class="connectBtn" @click="connect()">
                                        연결
                                    </div>
                                    <div class="disconnectBtn" @click="disconnect()">
                                        해제
                                    </div>
                                </div>

                            </li>
                        </ul>

                        <ul class="tree-child" v-if="family.length == 0">
                            <li class="child-member">
                                <div class="tree-node">
                                    <div class="inner">
                                        <div class="member-info">
                                            <div class="name" style="width:800px;">
                                                등록 데이터 없음
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <!-- 가짜 스크롤 -->
                    <div class="fake_scroll">
                        <div class="inner">
                            <div class="bar"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 세대 ROW 끝 -->
        </div>

        <!-- 족보 디테일 영역-->
        <div class="previewWrap" v-if="showFamilyMap == 1" ref="previewWrap">
            <div class="head">
                <h3 class="title">권수 / 페이지 ({{this.pageInfo}})</h3>
            </div>
            <div class="content">
                <img alt="" :src="pageUrlData" style="height:800px;">
            </div>
        </div>

    </div>

</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="fmap3.js"></script>

<script>
</script>

</html>