/*common*/
html {
    font-size: 16px;
}
body {
    font-family: "Noto Sans KR", sans-serif;
}

/* search head */
#familyWrap > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #f5f5f5;
    background-color: #131313;
}
#familyWrap > .header .inner {
    display: flex;
    justify-content: flex-end;
}
#familyWrap > .header .inner .group {
    margin: 0 1.6rem;
}
#familyWrap > .header .group .label {
    margin-bottom: 5px;
}
#familyWrap > .header .group input {
    padding: 5px;
    border: none;
}

#familyWrap > .content .tree-row {
    padding: 16px;
    border-bottom: solid 1px #131313;
}
#familyWrap > .content .tree-group {
    display: flex;
}

#familyWrap .content .tree-item .member-info {
    padding-right: 16px;
    min-height: 150px;
    color: #fff;
    writing-mode: vertical-lr;
    text-orientation: upright;
    vertical-align: top;
}
#familyWrap .content .tree-item .member-info .name {
    position: relative;
    padding: 16px;
    background-color: #131313;
}
#familyWrap .content .tree-item .member-info .sex {
    display: inline;
    writing-mode: horizontal-tb;
}
#familyWrap .content .tree-item .member-info .name:hover {
    cursor: pointer;
}
#familyWrap .content .tree-item .member-info .name::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 20px;
    top: -20px;
    left: calc(50% - 3px);
    background-color: #c5c5c5;
}
#familyWrap .content .tree-item .member-info .name::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 20px;
    bottom: -20px;
    left: calc(50% - 3px);
    background-color: #c5c5c5;
}
#familyWrap .content .tree-item.not.Children .member-info .name::after {
    display: none;
}
#familyWrap .content .tree-item .member-info .life-time {
    max-height: 150px;
    color: #131313;
    text-align: left;
    border: solid 1px #131313;
    box-sizing: border-box;
    background-color: #fff;
}
#familyWrap .content .tree-item .member-info .life-wrap .list {
    max-height: 150px;
    padding: 10px;
    font-size: 0.8rem;
    letter-spacing: 3px;
    word-spacing: -12px;
    border-right: solid 1px #c5c5c5;
}
#familyWrap .content .tree-item .member-info .life-wrap .list:last-child {
    border-right-width: 0;
}
