/*common*/
html {
    font-size: 16px;
}
body {
    font-family: "Noto Sans KR", sans-serif;
}

/* search head */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #f5f5f5;
    background-color: #131313;
}
.header .inner {
    display: flex;
    justify-content: flex-end;
}
.header .inner .group {
    margin: 0 1.6rem;
}
.header .group .label {
    margin-bottom: 5px;
}
.header .group input {
    padding: 5px;
    border: none;
}

/* tree style */
.content {
    position: relative;
    padding: 16px;
}
.content .tree-node {
    margin: 20px 16px;
    font-weight: 900;
    text-align: center;
}
.content .tree-node .member-info {
    min-height: 150px;
    color: #fff;
    writing-mode: vertical-lr;
    text-orientation: upright;
    vertical-align: top;
}
.content .tree-node .member-info .name {
    position: relative;
    padding: 16px;
    background-color: #131313;
}
.content .tree-node .member-info .sex {
    display: inline;
    writing-mode: horizontal-tb;
}
.content .tree-node .member-info .name:hover {
    cursor: pointer;
}
.content .tree-node .member-info .name::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 20px;
    top: -20px;
    left: calc(50% - 3px);
    background-color: #c5c5c5;
}
.content .tree-node .member-info .name::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 20px;
    bottom: -20px;
    left: calc(50% - 3px);
    background-color: #c5c5c5;
}
.content .tree-node.notChildren .member-info .name::after {
    display: none;
}
.content .tree-node .member-info .life-time {
    max-height: 150px;
    color: #131313;
    text-align: left;
    border: solid 1px #131313;
    box-sizing: border-box;
    background-color: #fff;
}
.content .tree-node .member-info .life-wrap .list {
    max-height: 150px;
    padding: 10px;
    font-size: 0.8rem;
    letter-spacing: 3px;
    word-spacing: -12px;
    border-right: solid 1px #c5c5c5;
}
.content .tree-node .member-info .life-wrap .list:last-child {
    border-right-width: 0;
}

.content .tree-child {
    display: flex;
}
.content .tree-child .child {
    display: inline-block;
    padding: 0;
    vertical-align: top;
}
.content .tree-child .child {
    position: relative;
}
.content .tree-child .child > .tree-node > .inner::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: calc(100% + 6px);
    height: 6px;
    top: -3px;
    left: 37px;
    background-color: #c5c5c5;
}
.content .tree-child .child.last > .tree-node > .inner::before,
.content .tree-child .child.single > .tree-node > .inner::before {
    width: 0;
}
